pkgbase = ttf-iosifovich
	pkgdesc = A slender monospace sans-serif and slab-serif typeface inspired by Pragmata Pro, M+ and PF DIN Mono.
	pkgver = r1189.30b3ffe9
	pkgrel = 1
	url = https://be5invis.github.io/
	arch = any
	license = custom:OFL
	makedepends = nodejs
	makedepends = npm
	makedepends = ttfautohint
	makedepends = otfcc
	depends = fontconfig
	depends = xorg-font-utils
	source = LICENSE.md
	sha512sums = 30da782c1f0775cb5c68743aded9f17ff9083ea9345636ecd4c276ad787ef846be2d8f17377e851854d083b4413010bf8b7870022f0aab9f555b674adfd5a0d0

pkgname = ttf-iosifovich

pkgname = ttf-iosifovich-term

